lr1/Form1.resx
lr1/bin/Debug/lr1.exe
lr1/bin/Debug/lr1.pdb
lr1/obj/Debug/lr1.Form1.resources
lr1/obj/Debug/lr1.Properties.Resources.resources
lr1/obj/Debug/lr1.csproj.GenerateResource.Cache
lr1/obj/Debug/lr1.csprojResolveAssemblyReference.cache
lr1/obj/Debug/lr1.exe
lr1/obj/Debug/lr1.pdb
